/* js file */
.animate-on-scroll {
    opacity: 0;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition-delay: 0.2s;
}

.in-view {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#portfolio {
    position: relative;
}

.portfolioTitle {
    font-size: xx-large;
    color: white;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.portfolioTitle::after {
    content: '';
    border: 2px solid black;
    position: absolute;
    width: 8rem;
    height: 3rem;
    left: 45%;
    top: 0;
    background-color: rgba(114, 47, 55, 0.5);
    z-index: -1;
}
.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.portfolio_item {
    text-align: center;
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_item-image {
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.portfolioButtons {
    font-size: x-large;
}
/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    #portfolio {
        height: 90rem;
    }
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .portfolioTitle::after {
        content: '';
        border: 2px solid black;
        position: absolute;
        width: 13rem;
        height: 3rem;
        left: 36%;
        top: 0;
        background-color: rgba(114, 47, 55, 0.5);
        z-index: -1;
    }
}
/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    #portfolio {
        height: 165rem;
        margin-bottom: 15rem;
    }
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .portfolioTitle::after {
        content: '';
        border: 2px solid black;
        position: absolute;
        width: 13rem;
        height: 3.5rem;
        left: 25%;
        top: 0;
        background-color: rgba(114, 47, 55, 0.5);
        z-index: -1;
    }
}